/.vs/ProjectEvaluation/rvmainmod.metadata.v9.bin
/.vs/ProjectEvaluation/rvmainmod.projects.v9.bin
/.vs/ProjectEvaluation/rvmainmod.strings.v9.bin
/.vs/RV/v17/.wsuo
/.vs/RV/v17/DocumentLayout.json
/.vs/RVMainMod/DesignTimeBuild/.dtbcache.v2
/.vs/RVMainMod/FileContentIndex/e719b21d-a242-4ee9-8b76-b77a3979b261.vsidx
/.vs/RVMainMod/v17/.futdcache.v2
/.vs/RVMainMod/v17/.suo
/.vs/RVMainMod/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/RoseViolet/RVMainMod/obj/Debug/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/RoseViolet/RVMainMod/obj/Debug/RVMainMod.AssemblyInfo.cs
/RoseViolet/RVMainMod/obj/Debug/RVMainMod.AssemblyInfoInputs.cache
/RoseViolet/RVMainMod/obj/Debug/RVMainMod.assets.cache
/RoseViolet/RVMainMod/obj/Debug/RVMainMod.csproj.AssemblyReference.cache
/RoseViolet/RVMainMod/obj/Debug/RVMainMod.GeneratedMSBuildEditorConfig.editorconfig
/RoseViolet/RVMainMod/obj/Debug/RVMainMod.GlobalUsings.g.cs
/RoseViolet/RVMainMod/obj/project.assets.json
/RoseViolet/RVMainMod/obj/project.nuget.cache
/RoseViolet/RVMainMod/obj/RVMainMod.csproj.nuget.dgspec.json
/RoseViolet/RVMainMod/obj/RVMainMod.csproj.nuget.g.props
/RoseViolet/RVMainMod/obj/RVMainMod.csproj.nuget.g.targets
/.vs/ProjectSettings.json
/.vs/RV/FileContentIndex/62bcfceb-46f5-4057-9363-0ea5e4824850.vsidx
/.vs/RV/FileContentIndex/66179943-25c0-4dbc-9be8-9f1b6fc571fe.vsidx
/.vs/RV/FileContentIndex/6d0b7b3b-7f08-45a5-9c69-b0c12e42ebe0.vsidx
/.vs/RV/FileContentIndex/ffd2e330-f2b7-44ef-88c9-24924b093592.vsidx
/.vs/RV/v17/Browse.VC.db
/.vs/RV/v17/DocumentLayout.backup.json
/.vs/RV/v17/workspaceFileList.bin
/.vs/RVMainMod/v17/DocumentLayout.backup.json
/.vs/slnx.sqlite
/RoseViolet/RVAltModels-LongHair/obj/Debug/RVAltModelsLongHair.AssemblyInfo.cs
/RoseViolet/RVAltModels-LongHair/obj/Debug/RVAltModelsLongHair.AssemblyInfoInputs.cache
/RoseViolet/RVAltModels-LongHair/obj/Debug/RVAltModelsLongHair.assets.cache
/RoseViolet/RVAltModels-LongHair/obj/Debug/RVAltModelsLongHair.csproj.AssemblyReference.cache
/RoseViolet/RVAltModels-LongHair/obj/Debug/RVAltModelsLongHair.GeneratedMSBuildEditorConfig.editorconfig
/RoseViolet/RVAltModels-LongHair/obj/Release/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/RoseViolet/RVAltModels-LongHair/obj/Release/RVAltModelsLongHair.AssemblyInfo.cs
/RoseViolet/RVAltModels-LongHair/obj/Release/RVAltModelsLongHair.AssemblyInfoInputs.cache
/RoseViolet/RVAltModels-LongHair/obj/Release/RVAltModelsLongHair.assets.cache
/RoseViolet/RVAltModels-LongHair/obj/Release/RVAltModelsLongHair.GeneratedMSBuildEditorConfig.editorconfig
/RoseViolet/RVAltModels-LongHair/obj/Release/RVAltModelsLongHair.GlobalUsings.g.cs
/RoseViolet/RVAltModels/obj/Debug/RVAltModels.AssemblyInfo.cs
/RoseViolet/RVAltModels/obj/Debug/RVAltModels.AssemblyInfoInputs.cache
/RoseViolet/RVAltModels/obj/Debug/RVAltModels.assets.cache
/RoseViolet/RVAltModels/obj/Debug/RVAltModels.csproj.AssemblyReference.cache
/RoseViolet/RVAltModels/obj/Debug/RVAltModels.GeneratedMSBuildEditorConfig.editorconfig
/RoseViolet/RVAltModels/obj/Release/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/RoseViolet/RVAltModels/obj/Release/RVAltModels.AssemblyInfo.cs
/RoseViolet/RVAltModels/obj/Release/RVAltModels.AssemblyInfoInputs.cache
/RoseViolet/RVAltModels/obj/Release/RVAltModels.assets.cache
/RoseViolet/RVAltModels/obj/Release/RVAltModels.GeneratedMSBuildEditorConfig.editorconfig
/RoseViolet/RVAltModels/obj/Release/RVAltModels.GlobalUsings.g.cs
/RoseViolet/RVMainMod/obj/Release/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/RoseViolet/RVMainMod/obj/Release/RVMainMod.AssemblyInfo.cs
/RoseViolet/RVMainMod/obj/Release/RVMainMod.AssemblyInfoInputs.cache
/RoseViolet/RVMainMod/obj/Release/RVMainMod.assets.cache
/RoseViolet/RVMainMod/obj/Release/RVMainMod.csproj.AssemblyReference.cache
/RoseViolet/RVMainMod/obj/Release/RVMainMod.GeneratedMSBuildEditorConfig.editorconfig
/RoseViolet/RVMainMod/obj/Release/RVMainMod.GlobalUsings.g.cs
